build/
out/
/scripts/RGFW
/score.txt

# Binaries and Objects
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.wasm

# OS files
.DS_Store
Thumbs.db
# Dependencies
/deps/*
!/deps/miniaudio/
!/deps/miniaudio/miniaudio.h
